{% extends "OCWmOCWBundle::layout.html.twig" %}
{% block mainmenu %}
    <ul>
        <li><a href="#"><img src="{{ asset('images/icons_mainmenu_05.gif') }}" /><span>Inicio</span></a></li>
        <li><a href="#"><img src="{{ asset('images/icons_mainmenu_07.gif') }}" /><span>Buscar</span></a></li>
        <li><a href="#"><img src="{{ asset('images/icons_mainmenu_09.gif') }}" /><span>Login</span></a></li>
    </ul>
{% endblock %}