<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>:: OCWManager :: {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ asset('css/layout.css') }}" />
        
        {% block stylesheets %}{% endblock stylesheets %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <div class="centro">
                <div class="logo">
                    <img src="{{ asset('images/logo_02.jpg') }}" />
                </div>
                <nav>{% block mainmenu %}{% endblock mainmenu %}</nav>
            </div>
            <div class="limpiar_float"></div>
        </header>
        <div class="centro">
            {% block content %}{% endblock content %}
        </div>
        {% block bottombar %}{% endblock bottombar %}
        <div class="centro">
            {% block javascripts %} {% endblock javascripts %}
            <footer><strong>OCWManager</strong>. Copyright 2012. Universidad de córdoba. Todos los derechos reservados.</footer>
        </div>
    </body>
</html>
